@model List<Obras>
@{
    ViewData["Title"] = "Galeria de Arte";
}

<div class="card-group">
    @foreach (var item in Model)
    {
    <div class="card">
        <img src="@item.UrlImagen" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@item.Titulo</h5>
           
           <a asp-controller="Obra" asp-action="DetalleObra" asp-route-id="@item.Id" class="btn btn-primary" >Ver detalle</a>
        </div>
       
    </div>
    }
 </div>

    
   
        
  